.booking-form {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: aliceblue;
}

form {
  display: grid;
  min-width: 400px;
  gap: 20px;
}

.required-label::after {
  content: ' *';
  color: red;
}

form input,
select {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #333;
}
