* {
  margin: 0;
  padding: 0;
}

div .main-grid {
  display: grid;
  height: 200px;
  grid-template-areas:
    'head nav'
    'main  main'
    'footer  footer';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: head;
  background-color: red;
}

nav {
  grid-area: nav;
  background-color: yellow;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-flex;
}

main {
  grid-area: main;
  background-color: purple;
}

footer {
  grid-area: footer;
  background-color: paleturquoise;
}
